body {
  background: peachpuff;
}
 * { border: 1px solid red}

 .container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  flex-grow: 1;
  height: 10vh;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 3;

}

.bb { 
  flex-grow: 1;
  width: 30vh;
}

.c { 
  flex-grow: 1;
  width: 30vh;
}

.d {
  flex-grow: 1;
  width: 30vh;

}

.e {
  flex-grow: 1;
  width: 30vh;

}

.f { flex-grow: 1;
   width: 30vh;
}

.g {
  flex-grow: 1;
  width: 30vh;
}
footer{
  flex-grow: 1;
  
}

@media (min-width: 600px) {
  .container {
  
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  header{ 
    width: 100%;
    margin: 1em;
  
  }
  
  main {  
    margin: 1em;
  }

  footer { 
    flex: 1;
    height: 50vh;
  margin: 1em;
  }
  
  }