body {
  background: blanchedalmond;
}

* {border: 1px solid red;}

.container { 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header { 
  flex-grow: 1;
}

footer { 
  flex-grow: 1;
}

main { 
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
}


@media ( min-width: 600px) {
.container{ 
  flex-direction: row;
  flex-wrap: wrap;
  
}
.a { width: 100%
}
.b{ margin: 1em;}

.c { margin: 1em;}

}