body {
  background: papayawhip;
}
* {border: 1px solid red;}


.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header { 
  flex-grow: 1;
}

footer { flex-grow: 1;
}

main{ 
  display: flex;
  flex-grow: 3;
  flex-wrap: wrap;
  
}

.bb {
    width:100%
}

.c { 
  flex-grow: 1;

}
.d {
  flex-grow: 1;

}

.e {
  flex-grow: 1;

}



@media (min-width: 600px) {
.container {

  flex-direction: row;
  flex-wrap: wrap;
}

header{ 
  width: 100%;
  margin: 1em;

}

main {  
  margin: 1em;
}
footer { 
margin: 1em;
}

}